html, body {
    height: 100%;
    margin: 0;
}

.bg {
    height: 100%; 
}

.bg img {
    width: 300px;
    position: absolute;
    opacity:.5;
}

#red {
    left: 2px;
    filter:sepia(100%) hue-rotate(-50deg) saturate(600%);
}


#blue{
    left: -2px;
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}
